form {
  border: 3px solid green;
  padding: 10px 0 10px 35px;
  width: 1000px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

.section_a {
  width: 45%;
  display: inline-block;
  margin-right: 40px;
}

.section_b {
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#name, #email {
  width: 100%;
}

#address, #address2, #city, #province, #postal {
  width: 94%;
}

select{
  padding: 10px;
  margin-left: 12px;
}

label {
  display: block;
  text-align: center;
  margin: 10px 0;
}

input[type=checkbox] {
  margin-left: 40%;
}

#btn {
  background-color: green;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  display: block;
  margin: 10px auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

/* output */
table{
  margin: 0 auto;
  margin-bottom: 100px;
  font-size: 25px;
  line-height: 40px;
  font-family: 'Courier New', Courier, monospace;
}

.output_label{
  text-align: right;
  color: green;
  padding-right: 20px;
  font-weight: bold;
}

.output{
  text-align: left;
  font-weight: 600;
}